@import (reference) "./bootstrap/bootstrap.less";

@line-height-small-compute : floor(@font-size-small*@line-height-small);
@line-height-large-compute: floor(@font-size-large*@line-height-large);

.mp-piece{
    margin-top:20px;
}

.mp-shadow(){
    box-shadow:0 0 3px 0 @gray-light;
}