@{
    ViewBag.Title = "Index.pc2";
    Layout = "~/Views/Shared/Layout.pc.cshtml";
}

@RenderPage("~/Views/Shared/header.pc.cshtml")

<div class="mp-container">
    <div class="mp-piece">
        <div class="header clearfix">
            <h2>最新图包</h2>
        </div>
        <div class="display-row clearfix">
            @Html.Partial("PackageList.pc", (List<mp.BLL.PackageInfo>)ViewBag.PackageList)
        </div>
    </div>
    <div class="separator"></div>
    <div class="mp-piece">
        <div class="header clearfix">
            <h2>最新图片</h2>
        </div>
        <div class="waterfall-236 clearfix">
            @Html.Partial("ImageList.pc", (List<mp.BLL.ImageInfo>)ViewBag.ImageList)
        </div>
    </div>
</div>

<div class="mp-footer">

</div>
@RenderPage("~/Views/Shared/footer.pc.cshtml")

@section script{
    <script src="~/js/clientArea.js"></script>
    <script src="~/js/home.js"></script>
}