@{
    ViewBag.Title = "Index.pc2";
    Layout = "~/Views/Shared/Layout.pc.cshtml";
}

@RenderPage("~/Views/Shared/header.pc.cshtml")

<div class="mp-container">
    <div class="mp-piece">
        <div class="header clearfix">
            <h2>最新图包</h2>
        </div>
        <div class="waterfall clearfix">
            <div class="waterfall-item-236">
                <div class="thumbs">
                    <img class="thumb1" src="~/sq236.jpg" />
                    <img class="thumb2" src="~/75.jpg" />
                    <img class="thumb3" src="~/75.jpg" />
                    <img class="thumb4" src="~/75.jpg" />
                </div>
                <div class="title">
                    标签名
                </div>
                <div class="attr">
                    共有xx张图片
                </div>
            </div>
            <div class="waterfall-item-236">
                <div class="thumbs">
                    <img class="thumb1" src="~/sq236.jpg" />
                    <img class="thumb2" src="~/75.jpg" />
                    <img class="thumb3" src="~/75.jpg" />
                    <img class="thumb4" src="~/75.jpg" />
                </div>
                <div class="title">
                    标签名
                </div>
                <div class="attr">
                    共有xx张图片
                </div>
            </div>
            <div class="waterfall-item-236">
                <div class="thumbs">
                    <img class="thumb1" src="~/sq236.jpg" />
                    <img class="thumb2" src="~/75.jpg" />
                    <img class="thumb3" src="~/75.jpg" />
                    <img class="thumb4" src="~/75.jpg" />
                </div>
                <div class="title">
                    标签名
                </div>
                <div class="attr">
                    共有xx张图片
                </div>
            </div>
            <div class="waterfall-item-236">
                <div class="thumbs">
                    <img class="thumb1" src="~/sq236.jpg" />
                    <img class="thumb2" src="~/75.jpg" />
                    <img class="thumb3" src="~/75.jpg" />
                    <img class="thumb4" src="~/75.jpg" />
                </div>
                <div class="title">
                    标签名
                </div>
                <div class="attr">
                    共有xx张图片
                </div>
            </div>
            <div class="waterfall-item-236">
                <div class="thumbs">
                    <img class="thumb1" src="~/sq236.jpg" />
                    <img class="thumb2" src="~/75.jpg" />
                    <img class="thumb3" src="~/75.jpg" />
                    <img class="thumb4" src="~/75.jpg" />
                </div>
                <div class="title">
                    标签名
                </div>
                <div class="attr">
                    共有xx张图片
                </div>
            </div>
            <div class="waterfall-item-236">
                <div class="thumbs">
                    <img class="thumb1" src="~/sq236.jpg" />
                    <img class="thumb2" src="~/75.jpg" />
                    <img class="thumb3" src="~/75.jpg" />
                    <img class="thumb4" src="~/75.jpg" />
                </div>
                <div class="title">
                    标签名
                </div>
                <div class="attr">
                    共有xx张图片
                </div>
            </div>
            <div class="waterfall-item-236">
                <div class="thumbs">
                    <img class="thumb1" src="~/sq236.jpg" />
                    <img class="thumb2" src="~/75.jpg" />
                    <img class="thumb3" src="~/75.jpg" />
                    <img class="thumb4" src="~/75.jpg" />
                </div>
                <div class="title">
                    标签名
                </div>
                <div class="attr">
                    共有xx张图片
                </div>
            </div>
            <div class="waterfall-item-236" style="display:none">
                <div class="thumbs">
                    <img class="thumb1" src="~/sq236.jpg" />
                    <img class="thumb2" src="~/75.jpg" />
                    <img class="thumb3" src="~/75.jpg" />
                    <img class="thumb4" src="~/75.jpg" />
                </div>
                <div class="title">
                    标签名
                </div>
                <div class="attr">
                    共有xx张图片
                </div>
            </div>
            <div class="waterfall-item-236">
                <div class="thumbs">
                    <img class="thumb1" src="~/sq236.jpg" />
                    <img class="thumb2" src="~/75.jpg" />
                    <img class="thumb3" src="~/75.jpg" />
                    <img class="thumb4" src="~/75.jpg" />
                </div>
                <div class="title">
                    标签名
                </div>
                <div class="attr">
                    共有xx张图片
                </div>
            </div>
            <div class="waterfall-item-236">
                <div class="thumbs">
                    <img class="thumb1" src="~/sq236.jpg" />
                    <img class="thumb2" src="~/75.jpg" />
                    <img class="thumb3" src="~/75.jpg" />
                    <img class="thumb4" src="~/75.jpg" />
                </div>
                <div class="title">
                    标签名
                </div>
                <div class="attr">
                    共有xx张图片
                </div>
            </div>
            <div class="waterfall-item-236">
                <div class="thumbs">
                    <img class="thumb1" src="~/sq236.jpg" />
                    <img class="thumb2" src="~/75.jpg" />
                    <img class="thumb3" src="~/75.jpg" />
                    <img class="thumb4" src="~/75.jpg" />
                </div>
                <div class="title">
                    标签名
                </div>
                <div class="attr">
                    共有xx张图片
                </div>
            </div>

        </div>
    </div>
    <div class="separator"></div>
    <div class="mp-piece">
        <div class="header clearfix">
            <h2>最新图片</h2>
        </div>
        <div class="waterfall clearfix">
            <div class="waterfall-item-236">
                <a class="img">
                    <img width="236" height="400" src="~/img.jpg" />
                    <div class="cover"></div>
                    <div class="actions clearfix">
                        <div class="pull-left">
                            <div class="btn btn-primary btn-sm">转存</div>
                        </div>
                        <div class="pull-right">
                            <div class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="description"><a>hyper link</a>normal text</div>
                <div class="info media">
                    <div class="media-left">
                        <a>
                            <img src="~/75.jpg" />
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="line">
                            <a>不叫的喵</a>收集到
                        </div>
                        <div class="line"><a>个人精选集</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>    
</div>

<div class="mp-footer">

</div>


@section script{
    <script>
        $(function ()
        {
            $(window).resize(function ()
            {
                var t = $(this);
                var width = t.width();
                var waterfalls=$('.waterfall');
                if(width>1488)
                {
                    waterfalls.each(function ()
                    {
                        $(this).find('.waterfall-item-236:lt(6)').show();
                        $(this).find('.waterfall-item-236:gt(5)').hide();
                    })
                }
                else if(width>1240)
                {
                    waterfalls.each(function(){
                        $(this).find('.waterfall-item-236:lt(5)').show();
                        $(this).find('.waterfall-item-236:gt(4)').hide();
                    })
                }
                else
                {
                    waterfalls.each(function ()
                    {
                        $(this).find('.waterfall-item-236:lt(4)').show();
                        $(this).find('.waterfall-item-236:gt(3)').hide();
                    })
                }
            })
        })
    </script>
}