@{
    ViewBag.Title = "Index.pc2";
    Layout = "~/Views/Shared/Layout.pc.cshtml";
}

@RenderPage("~/Views/Shared/header.pc.cshtml")

<div class="mp-container">
    <div class="mp-piece">
        <div class="header clearfix">
            <h2>最新图包</h2>
        </div>
        <div class="display-row clearfix">
            @Html.Partial("PackageList.pc", (List<mp.BLL.PackageInfo>)ViewBag.PackageList)
        </div>
    </div>
    <div class="separator"></div>
    <div class="mp-piece">
        <div class="header clearfix">
            <h2>最新图片</h2>
        </div>
        <div class="waterfall-236 clearfix">
            @Html.Partial("ImageList.pc", (List<mp.BLL.ImageInfo>)ViewBag.ImageList)
        </div>
    </div>
</div>

@RenderPage("~/Views/Shared/footer.pc.cshtml")

<div id="modal" class="modal">
    <div id="login-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="bg-warning text-center text-warning">密码或用户名错误</div>
                <input class="form-control" id="login-email" type="text" placeholder="邮箱" />
                <input class="form-control" id="login-password" type="password" placeholder="密码" />
                <div class="form-group">
                    <input type="checkbox" id="login-remember" />
                    <label for="login-remember">记住我</label>
                </div>
                <button type="button" id="login-submit" class="submit btn btn-primary btn-block center-block">登录</button>
                <div class="signup">
                    <a>没有帐号?立即注册</a>
                </div>
            </div>
        </div>
    </div>

    <div id="message-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">消息</h4>
            </div>
            <div class="modal-body">
                <span id="message-text"></span>
            </div>
        </div>
    </div>

    <div id="signup-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">注册</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" placeholder="注册邮箱" />
                <button type="button" id="signup-submit" class="btn btn-primary btn-block center-block">注册</button>
            </div>
        </div>

    </div>
</div>


@section script{
    <script src="~/js/client.js"></script>
    <script src="~/js/home.js"></script>
    <script src="~/js/modal.js"></script>
}