@{
    Layout = "~/Views/Shared/Layout.pc.cshtml";

    ViewBag.Title = "首页_喵帕斯";
    ViewBag.Keywords = "动漫 acg 图片 图包";
    ViewBag.Description = "专注于动漫图片的收集和分享";
}

<div class="mp-container">
    <div class="mp-piece">
        <div class="header clearfix">
            <h2>热门图包</h2>
        </div>
        <div class="display-row clearfix">
            @Html.Partial("PackageList.pc", (List<mp.Models.PackageInfo>)ViewBag.PackageList)
        </div>
    </div>
    <div class="separator"></div>
    <div class="mp-piece">
        <div class="header clearfix">
            <h2>热门图片</h2>
        </div>
        <div class="waterfall-236 clearfix">
            @Html.Partial("ImageListFw236.pc", (List<mp.Models.ImageInfo>)ViewBag.ImageList)
        </div>
    </div>
</div>

@RenderPage("~/Views/Shared/footer.pc.cshtml")

