@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/layout.pc.cshtml";
}

<style>
    .inline-block {
        display: inline-block;
    }

    .btn-group.select {
        width: 100%;
    }

        .btn-group.select .dropdown-toggle,
        .btn-group.select .dropdown-menu {
            min-width: 100%;
        }
</style>

<div class="container">
    <div class="btn-group select">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="current">下拉式菜单</span> <span class="inline-block pull-right"><span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
            <li><a data-value="Action">Action</a></li>
            <li><a data-value="Another action">Another action</a></li>
            <li><a data-value="Something else here">Something else here</a></li>
            <li  class="divider"></li>
            <li><a data-value="Separated link">Separated link</a></li>
        </ul>
        <input type="hidden" />
    </div>
</div>
