@{
    Layout = "~/Views/Shared/Layout.pc.cshtml";

    ViewBag.Title = "重置密码 - 喵帕斯";
}

<div id="reset-password-modal" class="modal-dialog modal-sm" style="display:block;">
    <div class="modal-content">
        <form>
            <div class="modal-header">
                <h4 class="modal-title">重置密码</h4>
            </div>
            <div class="bg-warning text-center text-warning"></div>
            <div class="modal-body">
                <div class="form-group">
                    <p class="form-control-static">登录邮箱：@ViewBag.Email</p>
                </div>
                <div class="form-group">
                    <input  class="form-control" name="pw1" type="password" placeholder="请输入新密码" />
                </div>
                <div class="form-group">
                    <input class="form-control" name="pw2" type="password" placeholder="确认密码" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary ok">确认</button>
            </div>
        </form>
    </div>
</div>