@{
    Layout = "~/Views/Shared/UserSetting.cshtml";
    ViewBag.Title = "头像设置";
}
<script src="~/js/jquery.Jcrop.min.js"></script>
<input class="avt-upload-btn" type="file" />
<div class="avt-content">
    <div class="loading">
        上传中
    </div>
</div>
