@{
    Layout = "~/Views/Shared/UserSetting.cshtml";
    ViewBag.Title = "头像设置";
}
<form class="form-horizontal" action="@Request.Url" method="post">
     <input type="file"/>
    <button type="submit" class="col-md-1 col-md-offset-2 btn btn-primary btn-sm">保存</button>
</form>