@model String
<style>
    .origin img{
        position:relative;
    }
</style>
<div class="row">
    <div class="avt-cut">
        <div class="origin col-md-5">
            <img src="@Model" />
        </div>
        <div class="preview-md">
            <img />
        </div>
        <div class="preview-sm">
            <img />
        </div>
        <button class="btn btn-primary">确定</button>
        <button class="btn btn-default">取消</button>
    </div>
</div>
