@{
    ViewBag.Title = "后台用户管理";
    Layout = "~/Views/Shared/dashboardMaster.cshtml";
}

<h2 class="page-header">后台用户管理</h2>
<div class="placeholder clearfix">
    <div class="col-xs-2 pull-right">
        <form>
            <div class="input-group input-group-sm">
                <input type="text" name="find" class="form-control" placeholder="输入用户名搜索...">
                <span class="input-group-btn">
                    <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
    <button class="btn btn-primary pull-right btn-sm"><span class="glyphicon glyphicon-plus"></span>新增</button>
</div>