
<div class="mp-header">
    <div class="mp-container clearfix">
        <div class="pull-left clearfix">
            <a href="/" class="mp-link">首页</a>
            <div class="mp-search">
                <input type="text" placeholder="请输入" />
                <span class="glyphicon glyphicon-search icon"></span>
            </div>
        </div>
        <div class="pull-right clearfix">
            @if (Security.IsLogin)
            {
                var userInfo = new mp.Models.UserInfo(Security.User);
                <div class="dropdown d" id="mp-user-menu">
                    <img class="avt" src="@userInfo.Head" />
                    <a href="#" data-toggle="dropdown">
                        @userInfo.Name
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="@userInfo.HomePage">个人主页</a></li>
                        <li class="divider"></li>
                        <li><a href="/account/logout" >退出</a></li>
                    </ul>
                </div>
            }
            else
            {
                <div class="btn btn-primary btn-sm mp-btn login">登录</div>
                <div class="btn btn-default btn-sm mp-btn" id="signup-btn">注册</div>
            }
        </div>
    </div>
</div>
