@model db.Models.User

<div class="mp-header">
    <div class="container clearfix">
        <div class="pull-left clearfix">
            <a href="/" class="mp-link">首页</a>
            <div class="mp-search">
                <input type="text" placeholder="请输入" />
                <span class="glyphicon glyphicon-search icon"></span>
            </div>
        </div>
        <div class="pull-right clearfix">
            <div class="btn btn-primary btn-sm mp-btn">登录</div>
            <div class="btn btn-default btn-sm mp-btn">注册</div>
        </div>
    </div>
</div>
