@{
    var user = new mp.DAL.MiaopassContext().Users.Find(Session["userid"]);
}

<div class="mp-header">
    <div class="mp-container clearfix">
        <div class="pull-left clearfix">
            <a href="/" class="mp-link">首页</a>
            <div class="mp-search">
                <input type="text" placeholder="请输入" />
                <span class="glyphicon glyphicon-search icon"></span>
            </div>
        </div>
        <div class="pull-right clearfix">
            @if (Security.IsLogin)
            {
                var userInfo = new mp.Models.UserInfo(Security.User);
                <div class="dropdown" id="mp-user-menu">
                    <a href="@userInfo.HomePage">
                        <img class="" src="@userInfo.Head" />
                    </a>
                    <a href="@userInfo.HomePage">
                        @userInfo.Name
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/logout">退出</a></li>
                    </ul>
                </div>
            }
            else
            {
                <div class="btn btn-primary btn-sm mp-btn" id="login-btn">登录</div>
                <div class="btn btn-default btn-sm mp-btn" id="signup-btn">注册</div>
            }
        </div>
    </div>
</div>
