@{
    Layout = "~/Views/Shared/BootstrapLayout.cshtml";
}

@section style{
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/tools.css" rel="stylesheet" />
    <link href="~/css/head-panel.css" rel="stylesheet" />
    <link href="~/css/waterfall-item-236.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    @RenderSection("style", false)
}

@section script{
    <script src="~/js/masonry.pkgd.min.js"></script>
    @RenderSection("script", false)
}

@RenderBody()

<div id="login-modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" id="login-name" type="text" placeholder="邮箱" />
                <input class="form-control" id="login-password" type="password" placeholder="密码" />
                <div class="form-group">
                    <input type="checkbox" id="login-remember" />
                    <label for="login-remember">记住我</label>
                </div>
                <button type="button" class="btn btn-primary btn-block center-block">登录</button>
                <div class="signup">
                    <a>没有帐号?立即注册</a>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
